body{
    background-color: black;
}

header{
    height: 40px;
    text-align: center;
}

.img{
    background-image: url("../Images/photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

img{
    max-width: 100%;
    height: auto;
}

.resume{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.main{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: beige;
}

.name{
    width: 100%;
}

.about{
    width: 50%;
}

.like{
    width: 50%;
}


@media screen and (max-width: 400px) {
    .resume{
        grid-template-columns: 1fr;
    }
    .img{
        height: 100px;
    }
    .about{
        width: 100%;
    }

    .like{
        width: 100%;
    }
}