.mendeleev-container {
	display: flex;
	flex-wrap: wrap;
}

.mendeleev-element {
	padding: 10px;
	width: 25%;
	border: solid 1px var(--color-border-invert);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mendeleev-element__symbol {
	font-size: 80px;
	font-weight: bold;
}

.mendeleev-element__name {
	flex: 100%;
	font-size: 50px;
	font-weight: bold;
}

.mendeleev-element__atomic-number, .mendeleev-element__weight {
	text-align: right;
}

.mendeleev-element__atomic-number {
	font-weight: bold;
}

.pink {
	background-color: #FFB6C1;
}

.yellow {
	background-color: #EFF70F;
}

.blue {
	background-color: #87CEEB;
}

@media screen and (max-width: 1100px) {
	.mendeleev-element__symbol {
		font-size: 40px;
	}

	.mendeleev-element__name {
		flex: 100%;
		font-size: 25px;
	}

	.mendeleev__numbers {
		font-size: 50%;
	}
}

@media screen and (max-width: 640px) {
	.mendeleev-element__symbol {
		font-size: 20px;
	}

	.mendeleev-element__name {
		flex: 100%;
		font-size: 13px;
	}
}
