header{
    height: 40px;
    text-align: center;
}

ul.navbar_list {
    margin: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.navbar_list li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    font-size: 20px;
    font-family: "Book Antiqua";
    text-decoration: none;
}

.nav_p{
    text-decoration: none;
    color: black;
}

.nav_p:hover {
    color: orangered;
    /*text-decoration: underline red;*/
}

.img{
    background-image: url("../Images/photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.soc{
    /*display: inline;*/
    max-width: 1em;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

img{
    max-width: 10em;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.social{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}


.social li{
    list-style: none;
}

.social li a {
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.resume{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.homework{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

.name{
    width: 100%;
}

.about{
    width: 50%;
}

.like{
    width: 50%;
}


@media screen and (max-width: 400px) {
    .resume{
        grid-template-columns: 1fr;
    }
    .img{
        height: 100px;
    }
    .about{
        width: 100%;
    }

    .like{
        width: 100%;
    }

    .row_image, .grid_image{
        grid-template-columns: 1fr;
    }
}