h1, h2, h3, p, figcaption, li, a, .navigation-list-item-link {
    color: white;
}

body {
    background-color: black;
}

header {
    background-color: #2E3F7F;
}

td, table, th{
    color: white;
}

tr:nth-child(2n) td{
    color: black;
}